// FONT
$default-font-size: 1.6rem;
$font-primary: 'Open Sans';
$font-secondary: 'Poppins';
// GRID
$grid-width: 120rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
//font-sizes
$default-font-size:1.6rem;
$smaller-font-size:1.5rem;
$medium-font-size:2rem;
/////////////////////////////////////////////////////////
// VEGETARIAN
$color-primary:#333333;
$color-primary-light: #666666;
$color-primary-light-2:#757575;
$color-grey: #788a9c;
$color-grey-light: #959595;
$color-grey-light-2:#e4e4e4;
$color-white: #fff;
$color-black: #000;
$color-dark-1:var(--color-grey-dark-3)
